:root {
    --primary-color: #004aad;
    --secondary-color: #ffcc00;
    --text-color: #333;
    --background-color: #fff;
}
body {
    color: var(--text-color);
    background-color: var(--background-color);
}
.bird {
    height:100px ;
    margin-right: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #fff;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.boy {
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.hero {
    position: relative;
    
}

.hero h1,
.hero article {
    /*position: absolute;
    top: 20%;
    left: 10%;*/
    color: white;
}

/*.hero article img {
    float: left;
    margin-left: 1rem;
    margin-top: 300px;
}*/

footer {
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 6px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: 32px;
}
